@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #ff0000;
@import '~bulma/bulma.sass';

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}

.heroImage {
  height: 61.8vh;
  max-height: 400px;
}
